@import "src/styles/base/variables";
.header {
  background: #44b7ad;
}

.header__content {
  display: flex;
  justify-content: space-between;
  padding: $m-size 0;
  @media (max-width: $desktop-breakpoint) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $l-size 0;
  }
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-size: 4rem;
  }
}
.header__links {
  display: flex;
  justify-content: center;
  align-items: center;
  > * {
    padding: 0 $m-size;
  }

  .active {
    color: #fb0091;
  }
  > :hover {
    color: #fb0091;
  }
}
